body {
  height: 100vh;
  width: 100vw;
}

.container {
  margin: 200px auto;
  width: 40%;
  border: solid 4px black;
}

.container > .resultsLabel {
}

.results {
  height: 100px;
  width: 100%;
  border: dashed 2px black;
  text-align: center;
  font-family: monospace;
  font-weight: 600;
  font-size: 3em;
  color: forestgreen;
}
